.head-window {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: #0a283a;
}
.flex-container-header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 80%;
    height: 60%;
}

.header-button {
    border: none;
    padding: 5px;
    background-color: #0a283a;
    color: white;
    font-size: 8pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-button:hover {
    background-color: #001622;
    color: white;
    font-size: 8pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 50%;
}
